@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('react-loader-spinner/dist/loader/css/react-spinner-loader.css');

:root{
  font-size: 16px;
}

/* Media */

@media (min-width: 150px) {
  :root{
    font-size: 5px;
  }
  .list ul {
    direction: column;
  }
  .list li {
    flex-direction: column;
    
  }
}
@media (min-width: 780px) {
  :root{
    font-size: 9px;
  }
  .list ul {
    direction: column;
  }
  .list li {
    flex-direction: row;
  }
}
@media (min-width: 990px) {
  :root{
    font-size: 12px;
  }
  .list ul {
    direction: row;
  }
  .list li {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  :root{
    font-size: 16px;
  }
  .list ul {
    direction: row;
  }
  .list li {
    flex-direction: row;
  }
}  

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Jura', sans-serif !important;
  background-color:  #333333 !important;
}

.App {
  text-align: center;
  background-color: #333333;
  color: #ccc;
  font-size: 1rem;
}

.container {
  background-color: #222222;
  padding: 0 !important;  
}

.banner {
  position: relative;
  background-color: #000000;
  height: 2rem;
  width:100%;
  padding: 2.5rem 0 2.5rem 0;
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img{
  width: 216px;
  height: 22px;
  margin: 0;
  box-sizing: border-box;
}

.link-style {
  color:#fff;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  padding: 10px 10px 5px 10px;
  margin: 0;
}

.link-style:hover {
  color:#F7E018;
  text-decoration: none;
}

.pageButton {
  width: 40px;
  height: 36px;
  padding: 0 1rem;
  text-align: center;
  color: #F7E018;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50%;
}

/* List */
.list ul {
  list-style-type: none;
  float:center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
    
.list li {
  background-color: #333333;
  box-shadow: 0 4px 17px #000000;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0 50px 10px 70px;
  height: fit-content;
  width: 65rem; 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
}
.list h3 {
  color:#fff;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  padding: 0 20px 0 0;
  margin: 0;
}

.list h4 {
  color:#A2A2A2;
  font-weight: bold;
  text-align: right;
  font-size: 16px;
  padding: 0 10px;
  margin: 0;
}

.list i {
  color:#fff;
  text-align: left;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

/* Card */
.gray-box{ 
  background-color: #333333;
  color: #fff;
  box-shadow: 0 4px 17px #000000;
  border-radius: 5px;
  margin:0.35rem;
  padding:0.35rem;
  float:center;
  min-width: 250px;
}

.box{
  background-color: #333333;
  color: #fff;
  box-shadow: 0 4px 17px #000000;
  border-radius: 5px;
  margin:0.35rem;
  padding:0.35rem;
  float:center;
  min-width: 250px;
}

.box h3 {
  padding: 1rem 1rem 0 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  
  font-size: 25px;
}

.box h4 {
  padding: 0.4rem 1rem;
  font-size: 20px;
}

.box i {
  padding: 0.5rem 1rem;
  font-size: 40px;
}

.footer {
  background-color: #000000;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  position: relative;
  color: #ccc;
}
.footer p{
  font-size: 0.75rem; 
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

ul{
  padding: 0.5rem 0 0 0;
  margin: 0;
}
li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}
li a {
  text-align: center;
  color: #ccc;
  font-size: 16px;
}
li a:hover {
  opacity: 0.75;
  color:#F4DC39;
}
