@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

:root{
  font-size: 16px;
}

/* Media */

@media (min-width: 150px) {
  :root{
    font-size: 5px;
  }
}
@media (min-width: 780px) {
  :root{
    font-size: 9px;
  }
}
@media (min-width: 990px) {
  :root{
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  :root{
    font-size: 16px;
  }
}  

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Jura', sans-serif !important;
  background-color:  #333333 !important;
}

.App {
  text-align: center;
  background-color: #333333;
  color: #ccc;
  font-size: 1rem;
}

.container {
  padding: 0 1rem;
  
}

.banner {
  position: relative;
  background-color: #222222;
  height: 2rem;
  width:100%;
  padding: 2.5rem 0 2.5rem 0;
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img{
  width: 216px;
  height: 22px;
  margin: 0;
  box-sizing: border-box;
}

.link-style {
  color:#fff;
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  padding-top: 0.20rem;
  margin: 0;
  text-decoration: none;
}

.link-style:hover {
  color:#F7E018;
  text-decoration: none;
}

.pageButton {
  width: 40px;
  height: 36px;
  padding: 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}

/* List */
.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:center;
  display: inline-flex;
  flex-wrap: wrap;
}
    
.list li {
  box-shadow: 1px 2px 0 0 #A2A2A2;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0 4px;
  height: 128px;
  width: 268px; 
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.list h3 {
  color:#fff;
  font-weight: bold;
  text-align: left;
  font-size: 24px;
  padding-top: 0.20rem;
  margin: 0;
}

.list p {
  color:#fff;
  text-align: left;
  font-size: 16px;
  margin: 0;
}

/* Spaceship */
.ship ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:center;
  display: inline-flex;
  flex-wrap: wrap;
}
    
.ship li {
  box-shadow: 1px 2px 0 0 #A2A2A2;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0 4px;
  height: 8rem;
  width: 68rem; 
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.ship h3 {
  color:#fff;
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  padding-top: 0.20rem;
  margin: 0;
}

.ship p {
  color:#fff;
  font-weight: bold;
  text-align: left;
  font-size: 1rem;
  margin: 0;
}

dark {
  color: #A2A2A2;
}

.footer {
  background-color: #222222;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  position: relative;
  color: #ccc;
}
.footer p{
  font-size: 0.75rem; 
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

ul{
  padding: 0.5rem 0 0 0;
  margin: 0;
}
li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}
li a {
  text-align: center;
  color: #ccc;
  font-size: 1rem;
}
li a:hover {
  opacity: 0.75;
  color:#F4DC39;
}
